.header{
    margin: 3rem;
    font-family: 'Mukta', sans-serif;
}
.title{
    text-align: center;
    font-size: 36px;
    line-height: 1.2;
}
.undertext{
    font-size: 16px;
    text-align: center;
}
.wrapper{
margin-top: 3rem;
}

.imageBox{
   max-width: 60rem;
   margin-bottom: 3rem;
  /* transition: all 0.2s ease-in-out; */
  position: relative;
}
.link{
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.image{
    width: 100%;
    height: 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 5px;
    right: 0;
    width: 100%;
    height: auto;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.link:hover .overlay{
    opacity: 1;
}
.overlay i{
    font-size: 9rem;
}
.imgTitle{
    font-size: 16px;
    margin-top: 2rem;
}
@media screen and (min-width: 768px) {
    .wrapper{
        max-width: 120rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(30rem, 1fr));
        grid-column-gap: 3rem;
        margin: 3rem auto;
    }
}