 .section {
    width: 100%;
    padding: 5rem 3rem 10rem;
    height: auto;
    font-family: 'Mukta', sans-serif;
    background-color: #fff;
}
.title {
    text-align: center;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 4rem;
}
.sumTitle {
    font-size: 18px !important;
}
.sumText {
    font-size: 14px !important; 
}
i.fa-plus{
    color: #000;
    background: #000;
    font-size: 17px;
}
.accordionFirst {
    box-shadow: none !important;
    border-top: 1px solid #000;
    border-radius: 0 !important;
    margin: 0 !important;
}
.accordionLast{
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin: 0 !important;
}

.accordion{
    box-shadow: none !important;
    border: none !important;
    border-top: 1px solid #000 !important;
    margin: 0 !important;
}

.accSum{
    padding: 0 !important;
    max-height: 4rem !important;
}
.accDet{
    border-top: 1px solid #000 !important;
    padding: 1rem 2rem !important;
}

@media screen and (min-width: 768px) {
    .title {
        font-size: 45px;
    }
    .sumTitle {
        font-size: 26px !important;
    }
    .sumText {
        font-size: 16px !important;
    }
    .accSum {
        max-height: 6rem !important;
    }
    .accordion, .accordionLast, .accordionFirst{
        max-width: 70%;
        margin: 0 15% !important;
    }
}