.navbar{
    width: 100%;
    height: 15rem;
    background: yellow;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.logo{
    width: 200px;
    height: auto;
}
i{
    font-size: 29px;
}
